[Unit]
Description="syncs podcasts to tonies"
Requires=tps.service

[Timer]
Unit=tps.service
OnCalendar=*-*-* 04:00:00
OnBootSec=5min
RandomizedDelaySec=1m

[Install]
WantedBy= multi-user.target